.button-container {
  padding: 8px 18px;
  border-radius: var(--button-radius);
  border: 1.5px solid var(--color-border);
  background: var(--color-background);
  font-size: 14px;
}

.button-container:hover {
  border-color: white;
  background-color: white;
}
