@layer components {
  .button-container {
    padding: 8px 20px;
    background: linear-gradient(#313131, var(--color-foreground) 70%);
    color: var(--color-background);
    font-weight: 500;
    border-radius: 10px;
    box-shadow:
      0 0 0 1px rgb(from var(--color-foreground) r g b / 100%),
      inset 0.5px 1px 2px 0px rgb(from var(--color-background) r g b / 50%),
      inset 0px 0.5px 0px 0px rgb(from var(--color-background) r g b / 80%),
      0 2px 8px 0px rgb(from var(--color-foreground) r g b / 50%);
  }

  .button-container:hover {
    transition: all;
    border-color: white;
    background-color: white;
    box-shadow:
      0 5px 10px 0px rgb(from var(--color-foreground) r g b / 50%),
      0 0 0 1px rgb(from var(--color-foreground) r g b / 100%),
      inset 0.5px 1px 2px 0px rgb(from var(--color-background) r g b / 50%),
      inset 0px 0.5px 0px 0px rgb(from var(--color-background) r g b / 80%);
  }
}
