@layer components {

  .card-body {
    --card-bg: var(--color-royal-blue-3);
    --outline-shadow: 0px 0px 0px 1px rgb(from var(--card-bg) r g b / 100%);
    --card-base: inset 1px 1px 1px 0px
      rgba(from var(--color-white-smoke) r g b / 40%);
    --card-highlight: inset 1px 1px 1px 0px
      rgba(from var(--color-white-smoke) r g b / 60%);

    background-image: url('/assets/card-gradient.jpg');
    background-repeat: cover;
    background-color: black;
    background-size: cover;
    transform-origin: 0 100%;
    transform: rotate(0);
    color: var(--color-white-smoke);
    border-radius: 19px;
    padding: 32px;
    margin-block-end: 5px;

    box-shadow: var(--outline-shadow), var(--card-highlight);
    overflow: hidden;
  }

}